.light-square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebecd0;
}

.dark-square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #779556 ;
}

.piece{
    width:100%;
    height:100%;
    margin: auto;
}

/* .bishop-black{
    background: url('../assets/svgs/black_bishop.svg') no-repeat;
} */